<section id="loading" class="section">
  <h1 class="logo-wrap">
    <div class="logo logo1">
      <%- include('../parts/_logo1') %>
      <div class="fill-target">
        <img src="./assets/img/holiday_lockup_SVG/JUN_stroke.svg" alt="">
      </div>
    </div>
    <div class="logo logo2">
      <%- include('../parts/_logo2') %>
      <div class="fill-target">
        <img src="./assets/img/holiday_lockup_SVG/HAPPY_stroke.svg" alt="">
      </div>
    </div>
    <div class="logo logo3">
      <%- include('../parts/_logo3') %>
      <div class="fill-target">
        <img src="./assets/img/holiday_lockup_SVG/CHRISTMAS_stroke.svg" alt="">
      </div>
    </div>
    <div class="logo logo4">
      <%- include('../parts/_logo4') %>
      <div class="fill-target">
        <img src="./assets/img/holiday_lockup_SVG/2023_stroke.svg" alt="">
      </div>
    </div>
  </h1>
</section>