<div class="credit flex flex-sp align-center show addactive">
  <p class="price">
    <span class="bold"
      ><%- productName %></span
    ><%- brandName %> / <%- price %>
  </p>
  <a
    href="<%- link %>"
    target="_blank"
    rel="noopener"
    class="btn"
  >
    <span class="btn__content">
        <span>CHECK</span>
        <span>CHECK</span>
    </span>
  </a>
</div>