<footer id="footer">
    <nav>
      <ul class="menu">
        <li>
          <a
            href="https://www.junonline.jp/adam-et-rope-femme/"
            target="_blank"
            rel="noopener"
            class="hover"
            >ONLINE STORE</a
          >
        </li>
        <li>
          <a
            href="https://www.junonline.jp/adam-et-rope-femme/styling/"
            target="_blank"
            rel="noopener"
            class="hover"
            >STAFF STYLING</a
          >
        </li>
        <li>
          <a
            href="https://www.junonline.jp/news?adam-et-rope-femme"
            target="_blank"
            rel="noopener"
            class="hover"
            >OTHER CONTENTS</a
          >
        </li>
      </ul>
      <ul class="sns">
        <li>
          <a
            href="https://www.instagram.com/adametrope/"
            target="_blank"
            rel="noopener"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/adametrope"
            target="_blank"
            rel="noopener"
          >
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/adametrope"
            target="_blank"
            rel="noopener"
          >
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
      </ul>
    </nav>
    <h1 class="logo">
      <a
        href="https://www.adametrope.com/"
        target="_blank"
        rel="noopener"
        class="hover"
      >
        <img src="./assets/img/logo_black.svg" alt="ADAM ET ROPÉ" />
      </a>
    </h1>
    <p class="copy">© JUN CO.,LTD. ALL RIGHTS RESERVED.</p>
  </footer>