<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/_head', {title: '2024 SPRING BLOUSE Collection | ADAM ET ROPÉ アダム エ ロペ 公式サイト', description: '春支度でまず思いつく、ブラウス。そろそろコートを脱いだ季節のコーディネートを考えたい。たっぷりとしたボリュームでロマンティックさを楽しめるデザインから、マニッシュに着こなしたいトレンドのショート丈など。様々なデザインの春ブラウスがそろいました。ADAM ET ROPÉの2024春、最新ブラウスコレクションをご紹介します。', keywords: 'ADAM ET ROPÉ,アダムエロペ,adametrope,ファッション,レディス,spring bluse,スプリングブラウス', url: 'https://www.adametrope.com/special/24ss_spring_blouse/', ogimage: 'https://www.adametrope.com/special/24ss_spring_blouse/assets/img/og.jpg'}) %>
</head>

<body class="">
  <!-- Google Tag Manager (noscript) -->
 <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6PK8L" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> <!-- End Google Tag Manager (noscript) -->
  <%- include('./pages/_home') %>
</body>
<script src="//cdn.jsdelivr.net/npm/swiper@8.2.4/swiper-bundle.min.js" defer></script>
<script src="./assets/js/libs.js"></script>
<script src="./assets/js/main.js"></script>
</html>