<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/_head', {title: '', description: '', keywords: '', url: '', ogimage: ''}) %>
</head>

<body class="">
  <%- include('./pages/_home') %>
</body>
<script src="./assets/js/libs.js"></script>
<script src="./assets/js/entry.js?202311281600"></script>
</html>