<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/_head', {title: '', description: '', keywords: '', url: '', ogimage: ''}) %>
</head>

<body class="">
  <%- include('./pages/_home') %>
</body>
<script src="//cdn.jsdelivr.net/npm/swiper@8.2.4/swiper-bundle.min.js" defer></script>
<script src="./assets/js/libs.js"></script>
<script src="./assets/js/main.js"></script>
</html>