////////////////////////////////////////////////////////////
// font
$Roc: "roc-grotesk-variable", sans-serif;
$Ryo: "ryo-gothic-plusn", sans-serif;
// $Hiragino: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$YuGothic: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
////////////////////////////////////////////////////////////
// color

$primary: #254850;
$textBlack: #222934;
$black: #000000;
$white: #ffffff;
$yellow: #fff57f;
$brown: #703130;
$red: #c7000b;
$orange: #e8c11f;
$pruple: #9105aa;
$gray: #5b5d6b;
$lightGray: #a5a5a5;
$superLightGray: #d6d6d6;
$ac1: #f5f2ea;
$ac3: #d5ba8f;
$ac4: #c3c6b1;
$ac6: #878e64;
$light: #f8f9fa;
$primary300: #92a3a7;

$spWidth: 390;

////////////////////////////////////////////////////////////
// easing

$circle: cubic-bezier(0.4, 0, 0, 1);
$slide: cubic-bezier(0.8, 0, 0.2, 1);
$zoom: cubic-bezier(0.65, 0.05, 0.36, 1);
$ziwaziwa: cubic-bezier(0.45, 0.05, 0.55, 0.95);
$slow: cubic-bezier(0.19, 1, 0.22, 1);

$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);

$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);

$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);

$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
// $easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.45);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$easeInOutFast: cubic-bezier(1, 0, 0, 1);

$authenticMotion: cubic-bezier(0.4, 0, 0.2, 1);

$a: cubic-bezier(0.22, 0.61, 0.32, 1.15);

// Power1 : same as Quad
$Power1easeIn: $easeInQuad;
$Power1easeOut: $easeOutQuad;
$Power1easeInOut: $easeInOutQuad;

// Power2 : same as Cubic
$Power2easeIn: $easeInCubic;
$Power2easeOut: $easeOutCubic;
$Power2easeInOut: $easeInOutCubic;

// Power3 : same as Quart
$Power3easeIn: $easeInQuart;
$Power3easeOut: $easeOutQuart;
$Power3easeInOut: $easeInOutQuart;

// Power4 : same as Quint
$Power4easeIn: $easeInQuint;
$Power4easeOut: $easeOutQuint;
$Power4easeInOut: $easeInOutQuint;

// Power0 : same as Linear
$Power0: linear;
