// @import "./awesome";
@import "./property";
@import "./mixin";

@import "./base";
@import "./animation";

@charset "utf-8";

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

:root {
}
body {
  font-feature-settings: "palt";
  font-family: $Ryo;
  color: $primary;
  // opacity: 0;
  overscroll-behavior: none;
  transition: opacity 0.5s ease;
  ::selection {
    color: $white;
    background-color: $primary;
  }
  &.loaded,
  &.visited {
    opacity: 1;
  }
  .hidden {
    visibility: hidden;
  }
}
.bold {
  font-weight: bold;
}

@media screen and (max-width: 749px) {
}

@media screen and (min-width: 750px) {
  .show {
    opacity: 0;
    transform: translate3d(0, rem(100), 0) scale(0.95);
    will-change: opacity, transform;
    transition: transform $slow 2s, opacity $slow 2s;
    &.active {
      opacity: 1;
      // transform: translate3d(0, 0, 0) skewX(0deg);
      transform: translate3d(0, 0, 0) scale(1);
    }
  }
  #loading {
    @include fitcenter();
    height: 100vh;
    width: 100vw;
    .logo-wrap {
      margin: 0 auto;
      width: rem(500);
    }
    .logo {
      position: relative;
      &.active {
        svg {
          opacity: 1;
        }
      }
      &.fill {
        .fill-target {
          opacity: 1;
        }
      }
      .fill-target {
        @include center();
        opacity: 0;
        width: 100%;
        transition: opacity .5s ease;
      }
      svg {
        opacity: 0;
      }
      path {
        fill-opacity: 0; /*透過0で塗りの色が見えない状態*/
        transition: fill-opacity .5s; /*0.5秒で色が付くアニメーション*/
        fill: none; /*塗りの色*/
        stroke: #000; /*線の色*/
      }
      &.done path{
        fill: #000; /*塗りの色*/
        fill-opacity: 1; /*透過1で塗りの色が見える状態*/
        stroke: none; /*線の色*/
      }
    }  
  }
}
